<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>

<body>
    <!-- 公益404：https://www.qq.com/404/404sdk.htm -->
    <script src="https://volunteer.cdn-go.cn/404/latest/404.js"></script>
</body>

</html>